<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Judge</title>
    <link rel="stylesheet" href="styles.css" >
    <link rel="icon" href="../images/MovieJudge_Logo_Tranparent.png" >
</head>
<body>
    <nav>
        <a><img class="logo" src="../images/MovieJudge_Logo_Tranparent.png"/></a>
        <a>code</a>
    </nav>
<main>

